[Unit]
Description=Keycloak
After=network.target

[Service]
User={{ keycloak_os_user }}
Group={{ keycloak_os_group }}
WorkingDirectory={{ keycloak_os_home }}
EnvironmentFile=-{{ keycloak_env_file_dest }}
ExecStart={{ keycloak_executable }}
PIDFile={{ keycloak_pid_file }}
TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
